DEBUG=true
LOCAL_TIMEZONE=Africa/Algiers
LOG_LEVEL=DEBUG
CORS_ORIGINS=localhost,127.0.0.1

DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/postgres
DATABASE_POOL_SIZE=5
DATABASE_POOL_TTL=1200
DATABASE_POOL_PRE_PING=true

FIRST_SUPERUSER_USERNAME=superuser
FIRST_SUPERUSER_PASSWORD=superuser123

UPLOAD_DIR=uploads/documents
SHARE_LINK_SECRET_KEY=